@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased bg-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}

/* Ticker Animation */
.ticker-wrap {
  width: 100%;
  overflow: hidden;
  background-color: black;
  padding: 0;
  box-sizing: content-box;
}

.ticker {
  display: inline-flex;
  white-space: nowrap;
  padding-right: 100%;
  animation: ticker 60s linear infinite;
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

/* Pause on hover */
.ticker-wrap:hover .ticker {
  animation-play-state: paused;
}